.ba_btn-primary {
  color: black;
  background-color: var(--ll-ba-card-bg, black);
  border: 1px solid var(--ll-ba-card-bg, black);
  padding: 0.75em 1.5em;
  font-size: 1rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  border-radius: var(--cta-card-radius);
  transition: all .3s;
}

.ba_btn-primary:hover {
  color: black;
  background-color: white;
}

.ba_btn-secondary {
  color: var(--general-heading);
  font-size: 16px; 
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: flex;
  align-items: center;
  svg:first-of-type {
    width: 0;
    height: 12px;
    transition: all .3s;
    color: var(--general-heading);
    margin-left: 8px;
    flex: none;
  }
  svg:last-of-type {
    height: 12px;
    width: 12px;
    transition: all .3s;
    color: var(--general-heading);
    margin-left: 8px;
    flex: none;
  }
  &:hover {
    svg:first-of-type {
      width: 12px;
      margin-right: 8px;
    }
    svg:last-of-type {
      width: 0;
      margin-left: 0;
    }
  }
  [class*="theme-"] & {
    color: var(--secondary-button-default);
    svg {
      color: var(--secondary-button-default);
    }
  }
}

.ba_btn-secondary--back {
  color: var(--general-heading);
  font-size: 16px; 
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: flex;
  align-items: center;
  svg:last-of-type {
    width: 0;
    height: 12px;
    transition: all .3s;
    color: var(--general-heading);
    margin-left: 8px;
    flex: none;
  }
  svg:first-of-type {
    height: 12px;
    width: 12px;
    transition: all .3s;
    color: var(--general-heading);
    margin-right: 8px;
    flex: none;
  }
  &:hover {
    svg:last-of-type {
      width: 12px;
      margin-left: 8px;
    }
    svg:first-of-type {
      width: 0;
      margin-right: 0;
    }
  }
  [class*="theme-"] & {
    color: var(--secondary-button-default);
    svg {
      color: var(--secondary-button-default);
    }
  }
}