@import './typography.css';
@import './btn.css';
@import './grid.css';
@import './partials/single-post.css';
@import './partials/archive.css';
@import './partials/hero-banner.css';
@import './partials/archive-categories.css';
@import './partials/category-card.css';
@import './partials/pagination.css';
@import './partials/nsfw-modal.css';

.fit-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
  }
}